* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #e0e6ed;
  background-image: url(./img/fondo-estrellas.webp);

  background-color: #121d33;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1b2a49;
  padding: 20px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7);
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
}

h2 {
  margin: 30px;
}

p {
  margin: 10px;
}

footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #162545;
  color: #e0e6ed;
  text-align: center;
  padding: 10px;
}
.title {
  color: #ffbf00;
  text-align: center;
  margin: 20px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #162545;
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

nav a {
  color: #ffbf00;
  text-decoration: none;
  padding: 10px;

  transition: all 0.3s;
}

nav a:hover {
  background-color: #1e2f53;
  color: white;
  border-radius: 5px;
}

.nav-list a {
  position: relative;
  overflow: hidden;
}

.nav-list a::after {
  /* se crea un pseudo elemento after que será visible cuando se haga hover */
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: #ffbf00;
  transition: width 0.3s ease-in-out;
}

.nav-list a:hover::after {
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 20px;
}

.nav-list li {
  padding: 10px;
}

.nav-list ul li {
  display: flex;
  justify-content: space-between;
}

aside {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  box-sizing: border-box;
  background-color: #121d33;
  scrollbar-color: #e0ac0e white;
}

.hola {
  float: left;
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-right: 2px solid #bdbdbd;
  height: 100vh;
}

aside h2 {
  text-align: center;
  color: #e0e6ed;
}

aside ul {
  list-style: none;
}

aside ul li {
  padding: 10px;
}

aside ul li a {
  color: #ffbf00;
  text-decoration: none;
}

aside ul li a:hover {
  color: #d2d0c3;
}

.galeria img {
  width: 130px;
  height: 150px;
}

/* Galeria */

.galeria {
  margin-top: 10px;
  display: grid;
  /* ajustar el grid a la pantalla sin mediaquery */
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  max-width: 400px;
  justify-items: center;
  /* Pone los iconos en el medio */
}

.gallery-image {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  /* Transición que transforma la escala en 0.6 segundos y las sombras tambien */
  transition: all 0.6s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.gallery-image:hover {
  /* se escala y rota */
  transform: scale(1.1) rotate(5deg);
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
}

.tituloPlaneta {
  color: #ddb94e;
  margin-bottom: 0;
}

.titulosPlanetas {
  color: #a7b7d6;
}
.side-list li {
  transition: all 0.3s;
  border-radius: 10px;
}
.side-list li:hover {
  background-color: #1b2a49;
}

/* todo area de juegos */

.tituloJuegos {
  color: #ff8c5f;
  text-align: center;
  margin: 20px;
  border-bottom: #748bba 2px solid;
}

.seccionJuegos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient(
    circle,
    #162545,
    #152340,
    #14213c,
    #131f37,
    #121d33
  );
  padding: 20px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7);
  margin-top: 40px;
  margin-bottom: 40px;
}

.imgJuego{
  height: 120px;
  margin-top: 20px;
    border-radius: 5px;
    transition: all 0.6s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
}

.imgJuego:hover{
    transform: scale(1.1) rotate(5deg);
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}

.nombreJuego{
    color: #efd482;
    text-align: center;
    margin-bottom: 20px;
  
    
}

.modal {
 
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
       display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content{
    color: black;
}
#dibujodeahorcado {
    font-family: 'Courier New', monospace;
}

.contador{
    margin-bottom: 10px;
}

.botonAdivinar{
    background-color: #162545;
    color: #ffbf00;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;

}

.ingresarPalabra{
   border-radius: 10px;
    padding: 10px;
    margin-top: 10px;


}

.Cuestion{
  background-color: #204ead;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  transition: all .3s;
  color: white;
}

.Cuestion:hover {
  background-color: #121d33;


}

.quizForm{
display: grid;
background-color: #182b53;
box-shadow: 2px 3px 20px black;
padding: 20px ;

}
#submitQuiz {
    display: block;
    margin: 0 auto;
}

#resultadoQuiz{
    color: #ffbf00;
    text-align: center;
    margin-top: 20px;

}


#submitQuiz {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#submitQuiz {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#submitQuiz span {
  position: relative;
  z-index: 2;
}

#submitQuiz::before, #submitQuiz::after {
  content: "✨✨✨✨✨✨✨✨✨✨";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 2.6;
  color: transparent;
  z-index: 0;
  transition: all 0.3s;
}

#submitQuiz::before {
  left: -100%;
  text-align: left;
  transition: all 0.3s;
}

#submitQuiz::after {
  right: -100%;
  text-align: right;
  transition: all 0.3s;
}

#submitQuiz:hover::before {
  color: #fff;
  left: 0;
}

#submitQuiz:hover::after {
  color: #fff;
  right: 0;
}

#submitQuiz:hover span {
  color: transparent;
}

#submitQuiz:hover span::before {

  position: absolute;
  /* !preguntar a fernanda */
  color: white;
  z-index: 3;
}
/* 
*media query
*/

@media screen and (max-width: 768px) {
  aside {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    border-right: none;
    position: static;
    margin-top: 20px;
  }

  .hola {
    display: none;
  }

  .galeria {
    max-width: 90%;
    margin-left: 10px;
    gap: 20px;
    margin-bottom: 20px;
  }

  .contenido {
    width: 100%;
    height: 100%;
  }
  .nav-list {
    display: flex;

    flex-direction: column;
  }

  nav {
    display: block;
  }
  .nav-list li {
    margin-bottom: 10px;
  }
  .btnCerrar{
    margin-top: 10px;
    background-color: #1b2a49;
    color: #ffbf00;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

    .btnDenuevo{
    margin-top: 10px;
    background-color: #1b2a49;
    color: #ffbf00;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
  }

}
